@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

* {
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
}

.dropdown__link-hover:hover {
    background-color: #2867be;
    color: white;
}

.logo {
    height: 50px;
}

.login__container-card {
    width: 75%;
}

.hero__container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/static/images/hero.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms-n5 {
    margin-left: -35px;
}

.search__input-container {
    width: 400px;
}

.nowrap {
    white-space: nowrap;
}

.helper__popover-icon {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(9, 9, 121, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.5);
}

.helper__popover-icon:hover,
.helper__popover-icon:focus,
.helper__popover-icon:active {
    color: white;
    box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.7);
}

.popover-body {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .logo {
        height: 35px;
    }

    .page__title {
        font-size: 0.8rem;
    }

    .search__input-container {
        width: 200px;
    }
}
